* {
	box-sizing: border-box;
    
}

.board {
	display: flex;
	flex-direction: column;
	align-items: center;
    
}

.row {
	display: flex;
}

.cell {
	width: 80px;
	height: 80px;
	border: 3px solid rgb(14, 11, 11);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	cursor: pointer;
   border-radius: 10px;
   
}

.cell:hover {
	background-color: #dbd5d5af;
}


